.contacts {
    width: 38%;
    height: calc(100vh - 18rem);
    background-color: rgba(14, 42, 71, 0.4);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.contacts.mobile {
    width: calc(min(100%, 25rem));
}