.contacts {
    width: 33%;
    height: calc(100vh - 16rem);
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    border: solid white 0.05rem;
}