.login, .signup {
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    position: relative;
    top: -2rem;
}

form {
    /* width: calc(min(20rem, 50%)); */
    width: 25rem;
    /* height: calc(100vh - 16rem); */
    padding: 2rem;
    border-radius: 1rem;
    border: solid rgba(255, 255, 255, 0.5) 0.1rem;
    justify-content: end;
}

.container form {
    background-color: rgba(14, 42, 71, 0.9);
    justify-self: start;
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: solid rgba(255, 255, 255, 0.1) 0.1rem;
    /* border-radius: 0.5rem; */
}

.login {
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    position: relative;
    top: -2rem;
}

label {
    color: rgb(231, 54, 53);
    font-weight: 600;
}

input,
textarea {
    border: none;
    outline: none;
    background-color: transparent;
    width: 10rem;
    font-size: 0.8rem;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}