@media screen and (min-width: 1440) {
    :root {
      font-size: 1.2rem;
    }
  }

:root {
  --primary-color: rgb(14, 42, 71);
  --secondary-color: rgb(231, 54, 53);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container, .vertical-container {
  display: flex;
  justify-content: space-between;
  width: calc(min(60rem, 80%));
  margin: auto;
  align-items: center;
}

.vertical-container {
  flex-direction: column;
}

.btn {
  border: rgba(255, 255, 255, 0.5);
  outline: none;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  min-width: 6rem;
}

.btn:hover {
  opacity: 0.8;
}

.display-none {
  display: none;
}