:root {
  --primary-color: rgb(14, 42, 71);
  --secondary-color: rgb(231, 54, 53);
  font-size: clamp(16px, 2.22vh, 24px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container, .vertical-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  align-items: center;
}

.vertical-container {
  flex-direction: column;
}

.btn {
  border: rgba(255, 255, 255, 0.5);
  outline: none;
  background-color: var(--secondary-color);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: center;
  border-radius: 1rem;
  cursor: pointer;
  min-width: 6rem;
}

.btn:hover {
  opacity: 0.8;
}

.display-none {
  display: none;
}


/* SCROLLBAR */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: yellow transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid transparent;
}